* {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    margin: 0;
    padding: 0;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  header,
  main,
  footer,
  nav {
    padding: 25px;
  }
  
  body {
    background-color: ivory;
  }
  
  header {
    background-color: ivory;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  header h1 {
    color: #BFA181;
  }
  
  .contenedor_ofertas img {
    width: 100px;
    height: 100px;
  }
  
  .button {
    background-color: rgb(248, 248, 212);
    padding: 15px;
    color: #BFA181;
    border-radius: 5px;
    transition: 0.5s;
    text-decoration: none;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  }
  
  .button:hover {
    color: black; 
    background-color: #BFA181;
  }
  
  nav {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    position: sticky;
    top: 0;
  }
  
  nav ul {
    list-style-type: none;
    display: flex;
  }
  
  nav ul li a {
    display: inline-block;
    padding: 10px;
    margin-right: 10px;
  }

  .menu {
    position: relative;
}

  .menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
}

  .menu li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

  .menu a {
    text-decoration: none;
    color: #BFA181;
}

  .menu:hover ul {
    display: block;
}
  
  main {
    padding: 0;
  }

.titulo {
    background-color: rgb(248, 248, 212);
    padding: 15px;
    padding-left: 25px;
    font-size: 18px;
    color: #BFA181;
  }

#Contacto form {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-row-gap: 15px;
    grid-column-gap: 5px;
    width: 30vw;
    margin: 25px auto;
    background-color: rgb(248, 248, 212);
    padding: 25px;
    color: #BFA181;
  }
  
  #Contacto form input, #Contacto form textarea {
    background-color: ivory;
    color: #BFA181;
  }
  
  #Contacto form input[type="reset"], #Contacto form input[type="submit"] {
    border: none;
    background-color: ivory;
    cursor: pointer;
  }
  
  #Contacto form input[type="reset"]:hover, #Contacto form input[type="submit"]:hover {
    color: black; 
    background-color: #BFA181;
  }

#Maps {
  border-radius: 5px;
  margin-top: 2em;
  margin-bottom: 2em;
}

  #Maps iframe {
   margin-top: 2em;
   display: block;
   margin: 0 auto;
   height: 100%;
   width: auto;
   border-radius: 50%;
   overflow: hidden;
   border: 5px solid #BFA181;
  }
  
  
  footer {
    background-color: black;
    text-align: center;
    padding: 2%;
    left: 0;
    bottom: 0;
    width: 100%;
  }
  
  footer p {
    color: #BFA181
  }
  
  @media screen and (max-width: 800px) {
    #Contacto form {
      height: auto;
      width: 500px;
      flex-direction: column;
    }
  }
  
  @media screen and (max-width: 320px) {
    #Contacto form {
      height: auto;
      width: 310px;
      flex-direction: column;
  }
  }
