* {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #f5f5f5, #ececec);
    padding: 20px;
}

.login-form {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

.login-form h2 {
    color: #BFA181;
    margin-bottom: 20px;
    font-size: 24px;
}

.login-form label {
    display: block;
    margin-bottom: 10px;
    color: #333333;
    text-align: left;
    font-weight: 500;
}

.login-form input {
    width: 100%;
    padding: 10px 15px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    background-color: #f9f9f9;
}

.login-form .button {
    width: 100%;
    padding: 12px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    background-color: #BFA181;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-form .button:hover {
    background-color: #498356;
}

.login-form .button-clear {
    background-color: #333331;
    color: #BFA181;
}

.login-form .button-clear:hover {
    background-color: #666464;
    color: white;
}

.login-form .button-cancelar {
    background-color: #eca04e;
    color: #BFA181;
}

.login-form .button-cancelar:hover {
    background-color: #d36551;
    color: white;
}

.login-form a.button {
    display: inline-block;
    text-decoration: none;
    text-align: center;
    line-height: 1.5;
    color: white;
}

@media (max-width: 600px) {
    .login-form {
        padding: 20px;
    }

    .login-form h2 {
        font-size: 20px;
    }

    .login-form label, .login-form input, .login-form .button {
        font-size: 14px;
    }
}

  footer {
    background-color: black;
    text-align: center;
    padding: 2%;
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
  }
  
  footer p {
    color: #BFA181
  }
