* {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    margin: 0;
    padding: 0;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  header,
  main,
  footer,
  nav {
    padding: 25px;
  }
  
  body {
    background-color: ivory;
  }
  
  header {
    background-color: ivory;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  header h1 {
    color: #BFA181;
  }
  
  .button {
    background-color: rgb(248, 248, 212);
    padding: 15px;
    color: #BFA181;
    border-radius: 5px;
    transition: 0.5s;
    text-decoration: none;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  }
  
  .button:hover {
    color: black; 
    background-color: #BFA181;
  }
  
  nav {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    position: sticky;
    top: 0;
  }
  
  nav ul {
    list-style-type: none;
    display: flex;
  }
  
  nav ul li a {
    display: inline-block;
    padding: 10px;
    margin-right: 10px;
  }
  
    .menu {
    position: relative;
  }
  
    .menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
  }
  
    .menu li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }
  
    .menu a {
    text-decoration: none;
    color: #BFA181;
  }
  
    .menu:hover ul {
    display: block;
  }
  
  main {
    padding: 0;
  }

  .titulo {
    background-color: rgb(248, 248, 212);
    padding: 15px;
    padding-left: 25px;
    font-size: 18px;
    color: #BFA181;
  }

  #Nosotros p {
    color: #BFA181;
    padding: 20px;
    text-align: center;
  }


  footer {
    background-color: black;
    text-align: center;
    padding: 2%;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
  }
  
  footer p {
    color: #BFA181
  }
  
  