<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Divina boutique</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/camperas.css">
    <link rel="icon" href="..\src/img/icon.png" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<body>
    <header>
        <div class="logo">
            
        </div>
        <h1>Divina boutique</h1>
         <a id="Login" class="button" href="/components/login.html">Login</a>
    </header>
        <nav>
            <ul>
                <li><a href="/index.html" class="button">Ofertas</a></li>
                <li>
                    <div class="menu">
                        <a href="#" class="button">Categorías</a>
                            <ul>
                                <li><a href="/components/camperas.html">Camperas</a></li>
                                <li><a href="/components/remeras.html">Remeras</a></li>
                                <li><a href="/components/pantalones.html">Pantalones</a></li>
                            </ul>
                    </div>
                </li>
                <li><a href="/components/nosotros.html" class="button">Nosotros</a></li>
                <li><a href="/components/contacto.html" class="button">Contacto</a></li>
            </ul>
        </nav>
    <main>
        <section id="Destacados">
            <h2 class="titulo">Camperas</h2>
            <section>
                <div class="contenedor_ofertas">
                    <article>
                        <img src="/src/img/camperas/blazer.webp" alt="">
                        <h4>Blazer</h4>
                        <p>$76.000</p>
                    </article>
                    <article>
                        <img src="/src/img/camperas/cuero flama.webp" alt="">
                        <h4>Campera de cuero</h4>
                        <p>$120.000</p>
                    </article>
                    <article>
                        <img src="/src/img/camperas/campera jean.webp" alt="">
                        <h4>Campera de jean</h4>
                        <p>$80.000</p>
                    </article>
                    <article>
                        <img src="/src/img/camperas/tapado.webp" alt="">
                        <h4>Tapado</h4>
                        <p>$80.000</p>
                    </article>
                </div>
            </section>
            <section>
                <div class="contenedor_ofertas">
                    <article>
                        <img src="/src/img/camperas/aoki.webp" alt="">
                        <h4>Aoki</h4>
                        <p>$99.990</p>
                    </article>
                    <article>
                        <img src="/src/img/camperas/campera-charlotte.webp" alt="">
                        <h4>Charlotte</h4>
                        <p>$92.000</p>
                    </article>
                    <article>
                        <img src="/src/img/camperas/chaqueta.webp" alt="">
                        <h4>Chaqueta Mamba Print</h4>
                        <p>$105.000</p>
                    </article>
                    <article>
                        <img src="/src/img/camperas/campera negra.webp" alt="">
                        <h4>Campera puffer</h4>
                        <p>$89.990</p>
                    </article>
                </div>
            </section>
        </section>
    </main>
    <button onclick="scrollToTop()" id="btnInicio">Inicio</button>
    <footer>
        <p>Codo a Codo 2024 - Todos los derechos reservados</p>
    </footer>
<button onclick="scrollToTop()" id="btnInicio">Inicio</button>
</body>
<script src="/js/jsvalue.js"></script>
</html>
