<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Divina boutique</title>
    <link rel="stylesheet" href="/css/nosotros.css">
    <link rel="icon" href="../src/img/icon.png" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="logo">
            <img src="/src/img/icon2.png" alt="">
        </div>
        <h1>Divina boutique</h1>
        <a id="Login" class="button" href="">Login</a>
    </header>
        <nav>
            <ul>
                <li><a href="../index.html" class="button">Ofertas</a></li>
                <li>
                    <div class="menu">
                        <a href="#" class="button">Categorías</a>
                            <ul>
                                <li><a href="/components/camperas.html">Camperas</a></li>
                                <li><a href="/components/remeras.html">Remeras</a></li>
                                <li><a href="/components/pantalones.html">Pantalones</a></li>
                            </ul>
                    </div>
                </li>
                <li><a href="/components/nosotros.html" class="button">Nosotros</a></li>
                <li><a href="/components/contacto.html" class="button">Contacto</a></li>
            </ul>
        </nav>
        <main>
            <section id="Nosotros">
                <h2 class="titulo">Sobre nosotros</h2>
               <p>Somos Divina boutique y somos una marca de ropa de mujer, nacida en Buenos Aires hace ya casi 30 años.En pocas palabras, nos encanta hacer ropa cómoda, versátil y con los toques justos de lo que se usa.</p>
               <p>Amamos los básicos, las estampas personalizadas, los colores y todo aquello que te permita sacar tu mejor versión.
                Hacemos prendas democráticas, para todas las edades y todos los estilos. Pensadas para vos, porque sabemos que no hay nadie más experto en nuestra ropa, que nuestras clientas.
                Con más de 22 tiendas en Argentina, ubicadas en los centros comerciales más importantes, y con nuestra tienda online, llegamos a muchas mujeres.</p> 
                <p>Actualmente queremos invitarlas a conocer nuestra tienda Online que al igual que los locales, se destaca por un diseño con mucha personalidad e identidad, en donde vas a poder vivir nuestra experiencia <strong>Divina boutique</strong>, y descubrir nuestras colecciones.</p>
                
                <strong>
                    <p>¡Te esperamos!</p>
                </strong>
            </section>
        </main>
        <footer>
            <p>Codo a Codo 2024 - Todos los derechos reservados</p>
        </footer>