<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Divina boutique</title>
    <link rel="stylesheet" href="/css/pantalones.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="logo">
            
        </div>
        <h1>Divina boutique</h1>
        <a id="Login" class="button" href="">Login</a>
    </header>
        <nav>
            <ul>
                <li><a href="/index.html" class="button">Ofertas</a></li>
                <li>
                    <div class="menu">
                        <a href="#" class="button">Categorías</a>
                            <ul>
                                <li><a href="/components/camperas.html">Camperas</a></li>
                                <li><a href="/components/remeras.html">Remeras</a></li>
                                <li><a href="/components/pantalones.html">Pantalones</a></li>
                            </ul>
                    </div>
                </li>
                <li><a href="/components/nosotros.html" class="button">Nosotros</a></li>
                <li><a href="/components/contacto.html" class="button">Contacto</a></li>
            </ul>
        </nav>
    <main>
        <section id="Destacados">
            <h2 class="titulo">Pantalones</h2>
            <section>
                <div class="contenedor_ofertas">
                    <article>
                        <h4>Laika con su flor</h4>
                        <img src="/src/img/pantalones/adora.webp" alt="">
                        <p>Descripcion oferta 1</p>
                    </article>
                    <article>
                        <h4>Campera de cuero</h4>
                        <img src="/src/img/pantalones/marsalle.webp" alt="">
                        <p>Descripcion oferta 2</p>
                    </article>
                    <article>
                        <h4>Remera con botones</h4>
                        <img src="/src/img/pantalones/theo.webp" alt="">
                        <p>Descripcion oferta 3</p>
                    </article>
                    <article>
                        <h4>Calza oxford</h4>
                        <img src="/src/img/pantalones/calza negra.webp" alt="">
                        <p>Descripcion oferta 4</p>
                    </article>
                </div>
            </section>
        </section>
    </main>
    <footer>
        <p>Codo a Codo 2024 - Todos los derechos reservados</p>
    </footer>
</body>
</html>