<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Divina boutique</title>
    <link rel="stylesheet" href="/css/pantalones.css">
    <link rel="icon" href="../src/img/icon.png" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="logo">
            <img src="/src/img/icon2.png" alt="">
        </div>
        <h1>Divina boutique</h1>
        <a id="Login" class="button" href="/components/login.html">Login</a>
    </header>
        <nav>
            <ul>
                <li><a href="/index.html" class="button">Ofertas</a></li>
                <li>
                    <div class="menu">
                        <a href="#" class="button">Categorías</a>
                            <ul>
                                <li><a href="/components/camperas.html">Camperas</a></li>
                                <li><a href="/components/remeras.html">Remeras</a></li>
                                <li><a href="/components/pantalones.html">Pantalones</a></li>
                            </ul>
                    </div>
                </li>
                <li><a href="/components/nosotros.html" class="button">Nosotros</a></li>
                <li><a href="/components/contacto.html" class="button">Contacto</a></li>
            </ul>
        </nav>
    <main>
        <section id="Destacados">
            <h2 class="titulo">Pantalones</h2>
            <section>
                <div class="contenedor_ofertas">
                    <article>
                        <img src="/src/img/pantalones/adora.webp" alt="">
                        <h4>Adora</h4>
                        <p>$36.000</p>
                        <div class="form-group">
                            <label>Talle</label>
                            <select name="size">
                            <option disabled selected value="">Seleccione una opción</option>
                            <option value="S">S</option>
                            <option value="M">M</option>
                            <option value="L">L</option>
                            <option value="XL">XL</option>
                        </select>
                        <label>Cantidad:</label>
                                <input type="number" name="quantity-Tapado" min="1" max="10">
                                <button class="btn-clean" type="reset">Limpiar</button>
                        </div>
                        <div>
                            <button class="btn-add">Añadir al Carrito</button>
                        </div>
                    </article>
                    <article>
                        <img src="/src/img/pantalones/marsalle.webp" alt="">
                        <h4>Marsalle</h4>
                        <p>$42.000</p>
                        <div class="form-group">
                            <label>Talle</label>
                            <select name="size">
                            <option disabled selected value="">Seleccione una opción</option>
                            <option value="S">S</option>
                            <option value="M">M</option>
                            <option value="L">L</option>
                            <option value="XL">XL</option>
                        </select>
                        <label>Cantidad:</label>
                                <input type="number" name="quantity-Tapado" min="1" max="10">
                                <button class="btn-clean" type="reset">Limpiar</button>
                        </div>
                        <div>
                            <button class="btn-add">Añadir al Carrito</button>
                        </div>
                    </article>
                    <article>
                        <img src="/src/img/pantalones/theo.webp" alt="">
                        <h4>Theo</h4>
                        <p>$38.000</p>
                        <div class="form-group">
                            <label>Talle</label>
                            <select name="size">
                            <option disabled selected value="">Seleccione una opción</option>
                            <option value="S">S</option>
                            <option value="M">M</option>
                            <option value="L">L</option>
                            <option value="XL">XL</option>
                        </select>
                        <label>Cantidad:</label>
                                <input type="number" name="quantity-Tapado" min="1" max="10">
                                <button class="btn-clean" type="reset">Limpiar</button>
                        </div>
                        <div>
                            <button class="btn-add">Añadir al Carrito</button>
                        </div>
                    </article>
                    <article>
                        <img src="/src/img/pantalones/calza-negra.webp" alt="">
                        <h4>Calza oxford</h4>
                        <p>$32.000</p>
                        <div class="form-group">
                            <label>Talle</label>
                            <select name="size">
                            <option disabled selected value="">Seleccione una opción</option>
                            <option value="S">S</option>
                            <option value="M">M</option>
                            <option value="L">L</option>
                            <option value="XL">XL</option>
                        </select>
                        <label>Cantidad:</label>
                                <input type="number" name="quantity-Tapado" min="1" max="10">
                                <button class="btn-clean" type="reset">Limpiar</button>
                        </div>
                        <div>
                            <button class="btn-add">Añadir al Carrito</button>
                        </div>
                    </article>
                </div>
            </section>
            <section>
                <div class="contenedor_ofertas">
                    <article>
                        <img src="/src/img/pantalones/alonso.webp" alt="">
                        <h4>Alonso</h4>
                        <p>$39.990</p>
                        <div class="form-group">
                            <label>Talle</label>
                            <select name="size">
                            <option disabled selected value="">Seleccione una opción</option>
                            <option value="S">S</option>
                            <option value="M">M</option>
                            <option value="L">L</option>
                            <option value="XL">XL</option>
                        </select>
                        <label>Cantidad:</label>
                                <input type="number" name="quantity-Tapado" min="1" max="10">
                                <button class="btn-clean" type="reset">Limpiar</button>
                        </div>
                        <div>
                            <button class="btn-add">Añadir al Carrito</button>
                        </div>
                    </article>
                    <article>
                        <img src="/src/img/pantalones/gray.webp" alt="">
                        <h4>Gray</h4>
                        <p>$45.000</p>
                        <div class="form-group">
                            <label>Talle</label>
                            <select name="size">
                            <option disabled selected value="">Seleccione una opción</option>
                            <option value="S">S</option>
                            <option value="M">M</option>
                            <option value="L">L</option>
                            <option value="XL">XL</option>
                        </select>
                        <label>Cantidad:</label>
                                <input type="number" name="quantity-Tapado" min="1" max="10">
                                <button class="btn-clean" type="reset">Limpiar</button>
                        </div>
                        <div>
                            <button class="btn-add">Añadir al Carrito</button>
                        </div>
                    </article>
                    <article>
                        <img src="/src/img/pantalones/anxela.webp" alt="">
                        <h4>Anxela</h4>
                        <p>$56.000</p>
                        <div class="form-group">
                            <label>Talle</label>
                            <select name="size">
                            <option disabled selected value="">Seleccione una opción</option>
                            <option value="S">S</option>
                            <option value="M">M</option>
                            <option value="L">L</option>
                            <option value="XL">XL</option>
                        </select>
                        <label>Cantidad:</label>
                                <input type="number" name="quantity-Tapado" min="1" max="10">
                                <button class="btn-clean" type="reset">Limpiar</button>
                        </div>
                        <div>
                            <button class="btn-add">Añadir al Carrito</button>
                        </div>
                    </article>
                    <article>
                        <img src="/src/img/pantalones/myam.webp" alt="">
                        <h4>Myam</h4>
                        <p>$35.000</p>
                        <div class="form-group">
                            <label>Talle</label>
                            <select name="size">
                            <option disabled selected value="">Seleccione una opción</option>
                            <option value="S">S</option>
                            <option value="M">M</option>
                            <option value="L">L</option>
                            <option value="XL">XL</option>
                        </select>
                        <label>Cantidad:</label>
                                <input type="number" name="quantity-Tapado" min="1" max="10">
                                <button class="btn-clean" type="reset">Limpiar</button>
                        </div>
                        <div>
                            <button class="btn-add">Añadir al Carrito</button>
                        </div>
                    </article>
                </div>
            </section>
        </section>
    </main>
    <footer>
        <p>Codo a Codo 2024 - Todos los derechos reservados</p>
    </footer>
</body>
</html>