<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Galería de Arte - Contacto</title>
    <link rel="icon" href="..\Img/IconoPest.ico" type="image/x-icon">
    <link rel="stylesheet" href="..\CSS/registro.css">
</head>
<body>
    <header>
        <h1>Galería de Arte</h1>
        <nav>
            <ul>
                <li><a href="..\index.html">Inicio</a></li>
                <li><a href="nosotros.html">Nosotros</a></li>
                <li><a href="galeria.html">Galería</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <body>
            <div class="registro-container">
                <form class="registro-form" id="registroForm" action="/components/registro-process.php" method="POST">
                    <h2>Registro</h2>
                    <label for="nombre">Nombre:</label>
                    <input type="text" id="nombre" name="nombre" required>
                    <label for="apellido">Apellido:</label>
                    <input type="text" id="apellido" name="apellido" required>
                    <input type="documento" id="documento" name="documento" required>
                    <label for="password">Numero de Documento:</label>
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" required>
                    <label for="password">Contraseña:</label>
                    <input type="password" id="password" name="password" required>
                    <label for="direccion">Dirección:</label>
                    <input type="text" id="direccion" name="direccion">
                    <label for="ciudad">Ciudad:</label>
                    <input type="text" id="ciudad" name="ciudad">
                    <label for="provincia">Provincia:</label>
                    <input type="text" id="provincia" name="provincia">
                    <label for="telefono">Teléfono:</label>
                    <input type="tel" id="telefono" name="telefono">
                    <label for="tipoFactura">Tipo de Factura:</label>
                    <select id="tipoFactura" name="tipoFactura">
                        <option value="A">A</option>
                        <option value="B">B</option>
                        <option value="C">C</option>
                    </select>
                    <button type="submit" class="button">Registrarse</button>
                </form>
            </div>
    </main>
    <footer>
        <p>Contacto: galeria@galeriadearte.com</p>
        <p>&copy; 2024 Galería de Arte</p>
    </footer>
</body>
</html>
