<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Divina boutique</title>
    <link rel="stylesheet" href="/css/remeras.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="icon" href="..\src/img/icon.png" type="image/x-icon">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="logo">
               <img src="..\src/img/icon2.png" alt="">
        </div>
        <h1>Divina boutique</h1>
    </header>
        <nav>
            <ul>
                <li><a href="/index.html" class="button">Ofertas</a></li>
                <li>
                    <div class="menu">
                        <a href="#" class="button">Categorías</a>
                            <ul>
                                <li><a href="/components/camperas.html">Camperas</a></li>
                                <li><a href="/components/remeras.html">Remeras</a></li>
                                <li><a href="/components/pantalones.html">Pantalones</a></li>
                            </ul>
                    </div>
                </li>
                <li><a href="/components/nosotros.html" class="button">Nosotros</a></li>
                <li><a href="/components/contacto.html" class="button">Contacto</a></li>
                <li><a id="Login" class="button" href="/components/login.html">Login</a></li>
                <li><a id="Registro" class="button" href="/components/registro.html">Registrarse</a></li>
            </ul>
        </nav>
    <main>
        <section id="Destacados">
            <h2 class="titulo">Remeras</h2>
            <section>
                <div class="contenedor_ofertas">
                    <article>
                        <img src="/src/img/remeras/violeta.webp" alt="">
                        <h4>Manga larga</h4>
                        <p>$29.000</p>
                    </article>
                    <article>
                        <img src="/src/img/remeras/limited-edition.webp" alt="">
                        <h4>Limited edition</h4>
                        <p>$19.999</p>
                    </article>
                    <article>
                        <img src="/src/img/remeras/rojo-con-botones.webp" alt="">
                        <h4>Maria Simona</h4>
                        <p>$22.000</p>
                    </article>
                    <article>
                        <img src="/src/img/remeras/rock.webp" alt="">
                        <h4>Girl rock</h4>
                        <p>$27.000</p>
                    </article>
                </div>
            </section>
            <section>
                <div class="contenedor_ofertas">
                    <article>
                        <img src="/src/img/remeras/pretty.webp" alt="">
                        <h4>Pretty</h4>
                        <p>$14.000</p>
                    </article>
                    <article>
                        <img src="/src/img/remeras/the-sun.webp" alt="">
                        <h4>The sun</h4>
                        <p>$18.500</p>
                    </article>
                    <article>
                        <img src="/src/img/remeras/tigre.webp" alt="">
                        <h4>Tiger</h4>
                        <p>$14.990</p>
                    </article>
                    <article>
                        <img src="/src/img/remeras/caotic-moment.webp" alt="">
                        <h4>Caotic moment</h4>
                        <p>$16.000</p>
                    </article>
                </div>
            </section>
        </section>
    </main>
    <footer>
        <p>Codo a Codo 2024 - Todos los derechos reservados</p>
    </footer>
    <button onclick="scrollToTop()" id="btnInicio">Inicio</button>
</body>
<script src="/js/jsvalue.js"></script>
</html>
